
#yes:hover, #no:hover {
    padding: 10px;
    border-radius: 10px;
    background-color: wheat;
    cursor: pointer;
}

#yes {
    border-right: 2px black solid;
    padding-right: 5px;
}

#yes, #no {
    padding: 10px;
}

body {
    backdrop-filter: blur(5px);

    text-align: center;
    background-color: #f6f6f6;
    background: url('https://images.unsplash.com/photo-1531746790731-6c087fecd65a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=695&q=80');
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}
